html {
    background-color: #363636;
}

body {
    position: absolute;
    top: -50%;
    left: 10%;
    margin: 25em;
    padding: 5%;
    background-color: #16161875;
    border-radius: 15px;

}

main {
    display: flex;
    text-align: center;
    justify-content: center;
}

span, h2 {
    color: rgb(138, 138, 138);
}

#img-perfil {
    width: 110px;
    border-radius: 10px;
    border: rgb(189, 188, 188) 5px solid;
}

footer {
    display: flex;
    text-align: center;
    padding-top: 15px;
    gap: 20px;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.icon-btn {
    border-radius: 100em;
    width: 2em;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    display: flex;
    text-align: center;
    justify-content: center;
}

.icon-btn:hover {
    transform: scale(1.5);
}

#icon-twitter {
    background-color: aqua;
}

#icon-instagram {
    background-color: palevioletred;
}

#icon-github {
    background-color: darkcyan;
}